<header class="star-bg" style="padding-top:150px; padding-bottom:100px;">
  <div
    class="d-lg-flex d-md-flex align-items-center justify-content-center vh-100"
  >
    <div class="container align-items-center justify-content-center">
      <div
        class="
          d-lg-flex d-md-flex
          align-items-center
          justify-content-evenly
          gap-3
          mb-5
          text-blue
          align-left
        "
      >
        <div class="bottomStar an-1">
          <div class="comment mt-l3">
            <strong
              >Andrew<br />
              Vegoda</strong
            >
            <img
              src="assets/img/user1.jpg"
              width="48px"
              height="48px"
              alt=""
              srcset=""
            /><br />
            <p class="mt-2 title-r-20 lh-2">
              <span>
                Thank you!!! dignissim volutpat. In et risuslaoreet, finibus
                ligula
              </span>
            </p>
            <small>9/14/22 by Janet Cruz</small>
          </div>
        </div>
        <div class="mb-5 an-2">
          <div class="comment mt-3 mb-5">
            <strong
              >Andrew<br />
              Vegoda</strong
            >
            <img
              src="assets/img/user1.jpg"
              width="48px"
              height="48px"
              alt=""
              srcset=""
            /><br />
            <p class="mt-2">
              <span
                >Thank you!!! dignissim volutpat. In et risus laoreet, finibus
                ligula.</span
              >
            </p>
            <small>9/14/22 by Janet Cruz</small>
          </div>
        </div>
        <div class="mt-5 an-3">
          <div class="comment mt-5">
            <strong
              >Andrew<br />
              Vegoda</strong
            >
            <img
              src="assets/img/user1.jpg"
              width="48px"
              height="48px"
              alt=""
              srcset=""
            /><br />
            <p>
              <span
                >Thank you!!! dignissim volutpat. In et risus laoreet, finibus
                ligula.</span
              >
            </p>
            <small>9/14/22 by Janet Cruz</small>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="w-30 m-auto justify-content-center text-center">
        <div
          class="input-group has-validation searchName pill bg-white"
          style="border:1px solid #ced4da;"
        >
          <input
            type="text"
            class="form-control-lg pill border-0"
            required=""
            placeholder="Find a STAR"
            style="width:85%;"
          /><span class="input-group-text pill border-0"
            ><img src="assets/img/searchBig.png" alt="" srcset="" width="24"
          /></span>
        </div>
        <button
          class="
            btn
            bg-orange
            pill
            title-l-26
            ps-lg-4
            pe-lg-4
            mt-4
            fw-normal
            mb-4
          "
        >
          SUBMIT A STAR
        </button>
      </div>
      <div class="clearfix"></div>
      <div
        class="
          d-lg-flex d-md-flex
          align-items-center
          justify-content-evenly
          gap-3
          mb-5
          w-100
          text-blue
        "
      >
        <div class="mt-n4 an-4">
          <div class="comment">
            <strong
              >Andrew<br />
              Vegoda</strong
            >
            <img
              src="assets/img/user1.jpg"
              width="48px"
              height="48px"
              alt=""
              srcset=""
            /><br />
            <p class="mt-2">
              <span
                >Thank you!!! dignissim volutpat. In et risus laoreet, finibus
                ligula.</span
              >
            </p>
            <small>9/14/22 by Janet Cruz</small>
          </div>
        </div>
        <div class="mt-5 bottomStar mb-5 an-5">
          <div class="comment mt-3">
            <strong
              >Andrew<br />
              Vegoda</strong
            >
            <img
              src="assets/img/user1.jpg"
              width="48px"
              height="48px"
              alt=""
              srcset=""
            /><br />
            <p class="mt-2">
              <span
                >Thank you!!! dignissim volutpat. In et risus laoreet, finibus
                ligula.</span
              >
            </p>
            <small>9/14/22 by Janet Cruz</small>
          </div>
        </div>
        <div class="mb-5 mt-n5 an-6">
          <div class="comment">
            <strong
              >Andrew<br />
              Vegoda</strong
            >
            <img
              src="assets/img/user1.jpg"
              width="48px"
              height="48px"
              alt=""
              srcset=""
            /><br />
            <p class="mt-2">
              <span
                >Thank you!!! dignissim volutpat. In et risus laoreet, finibus
                ligula.</span
              >
            </p>
            <small>9/14/22 by Janet Cruz</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
