<footer class="star-added mt-4">
  <h4 class="title-l-56 fw-bolder text-white mb-0">286</h4>
  <br />
  <h5 class="title-l-36 text-white mt-0 mb-4 pb-4">STARS added</h5>

  <span class="mt-4 pt-4">
    <img
      src="assets/img/star-white.png"
      alt=""
      width="32px"
      class="ms-2 me-2"
    />
    <img
      src="assets/img/star-white.png"
      alt=""
      width="32px"
      class="ms-2 me-2"
    />
    <img
      src="assets/img/star-white.png"
      alt=""
      width="32px"
      class="ms-2 me-2"
    />
    <img
      src="assets/img/star-white.png"
      alt=""
      width="32px"
      class="ms-2 me-2"
    />
    <img
      src="assets/img/star-white.png"
      alt=""
      width="32px"
      class="ms-2 me-2"
    />
    <img
      src="assets/img/star-white.png"
      alt=""
      width="32px"
      class="ms-2 me-2"
    />
  </span>
</footer>
