<div>
  <app-header></app-header>
  <main class="container">
    <div class="row mt-4">
      <div class="col-md-6">
        <h1 class="title-b-48 fw-bolder text-orange">
          Add your STAR<br />
          and make the sky<br />
          a little brighter.
        </h1>
        <h2 class="title-r-34 mt-4">
          Last year the community joined together to send gratitude to the many
          doctors, nurses, and staff at South Brooklyn Health during difficult
          times. We showed our thanks. Now, we’re growing it with the Sky of
          STARS.
        </h2>
        <h3 class="title-r-20 text-blue lh-base mt-4">
          Send your thanks to caregivers by adding a STAR to the night sky. As
          messages are sent in, the sky grows brighter day by day. The
          brightening sky symbolizes exceptional care to our patients. Nurture
          the sky’s growth and become part of this living installation. Let’s
          give South Brooklyn Health staff a sky bright with gratitude.
        </h3>
      </div>
      <div class="col-md-6"><app-star-slider></app-star-slider></div>
    </div>

    <div class="row clearfix">
      <div class="col justify-content-center p-5 m-5 text-center">
        <button
          class="
            btn btn-lg
            bg-orange
            pill
            btn-big
            pt-lg-3
            title-l-34
            pb-lg-3
            ps-lg-5
            pe-lg-5
          "
        >
          SUBMIT A STAR
        </button>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
